body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffefef; /* Nežna roza barva ozadja */
    animation: borderAnimation 2s infinite; /* Dodana animacija na obrobi */
}

.invitation-container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.invitation-container h1 {
    color: #ff1493; /* Sveto roza barva naslova */
}

.invitation-container p {
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #333; /* Temno siva barva besedila */
}

.decision-buttons {
    margin-top: 30px;
}

button {
    background-color: #ff1493; /* Sveto roza barva gumba */
    color: #fff;
    padding: 15px 25px;
    font-size: 1.2em;
    border: 2px solid #ff1493; /* Obroba enake barve kot gumb */
    border-radius: 8px;
    cursor: pointer;
    margin: 0 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c71585; /* Temnejša roza ob prehodu */
}

/* Dodana animacija za obrobo */
@keyframes borderAnimation {
    0% {
        border-color: #ff1493;
    }
    50% {
        border-color: #ff7eb9;
    }
    100% {
        border-color: #ff1493;
    }
}
