.thank-you-container {
    text-align: center;
    background-color: #ffefef; /* Nežna roza barva ozadja */
    color: #333; /* Temno siva barva besedila */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.thank-you-container h1 {
    color: #ff1493; /* Sveto roza barva naslova */
    font-size: 2em;
    margin-bottom: 15px;
}

.thank-you-container p {
    font-size: 1.2em;
}

.wave-gif {
    margin-top: 30px;
}

.wave-gif img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
